/* Buttons */


.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.buttons_container{
  position: absolute;
  width: 160px;
  height: 78px;
  left: 0px;
  top: 175px;

  background: #FFFFFF;
  border-radius: 10px;
}

.btn__size {
  flex-direction: column;
  margin-top: 113px;
  margin-left: 22px;

  background: #FFFAF6;
  color: #3D3D3D;
  border-radius: 10px;
  width: 35px;
  height: 25px;

  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
}

.one_size{
  margin-left: 65px;
}

.two_size_s{
  margin-left: 35px;
}

.two_size_m{
  margin-left: 50px;
}

.btn__size._active{
  background:#D1D0D0;
}

.btn__size._active .buttons{
  background: #FFFFFF;
}

.btn__size._active .btn__text_size{
  color: white;
}

.btn__text_size{
  text-align: center;
  font-size: 16px;
  margin-top: 4px;
}

@font-face {
  src: url('fonts/PPNeueMontreal-Medium.otf') format("truetype");
}

.btn__buy {
  box-sizing: border-box;

  position: absolute;
  width: 130px;
  height: 28px;
  left: 15px;
  top: 218px;

  background:  #FFFAF6;
  border-radius: 10px;
  color: #3D3D3D;
  font-family: 'PP Neue Montreal', serif;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}

.btn__text_buy{
  text-align: center;
  font-size: 16px;
  margin-top: 7px;
}

.btn__buy._active{
  background: #D2CFCF;
  color: #FFFFFF;
}
