/* Buttons */

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.btn__size {
  flex-direction: column;
  margin-top: 108px;
  margin-left: 22px;

  background: #FFFFFF;
  border-radius: 10px;
  width: 35px;
  height: 25px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.one_size{
  margin-left: 65px;
}

.two_size_s{
  margin-left: 35px;
}

.two_size_m{
  margin-left: 50px;
}

.btn__size._active{
  background: #2557A3;
}

.btn__size._active .buttons{
  background: #FFFFFF;
}

.btn__size._active .btn__text_size{
  color: white;
}

.btn__text_size{
  text-align: center;
  font-size: 16px;
  margin-top: 4px;
}

.btn__buy {
  box-sizing: border-box;

  position: absolute;
  width: 130px;
  height: 28px;
  left: 15px;
  top: 212px;

  background: #E17B41;
  border: 1px solid #E17B41;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Oleo Script Swash Caps', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.btn__text_buy{
  text-align: center;
  font-size: 16px;
  margin-top: 1px;
}

.btn__buy._active{
  background: #2557A3;
  border: 1px solid #2557A3;
}
