.products {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.item {
    position: relative;
    flex-direction: column;
    display: flex;
    width: 160px;
    height: 250px;
    left: 20px;
    top: 180px;
    margin-bottom: 10px;

    border-radius: 10px;
}

/* Медиа запросы */

@media (max-width: 1025px) and (min-width: 620px) {
    .products {
        margin-left: 100px;
        gap: 40px;
        grid-template-columns: repeat(4, minmax(160px, 1fr));
    }

    .title {
        margin-left: 300px;
    }

    .average-price_container {
        margin-left: 290px;
    }
}

@media (max-width: 400px) {
    .products {
        gap: 10px;
    }
}