.products {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(5,150px);
}

.item {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 160px;
  height: 250px;
  top: 150px;
  left: 5px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


@media (max-width: 768px ) {
  .products{
    grid-template-columns: repeat(2,1fr);
  }
}


/*@media (max-width: 1280px ) {*/
/*  .products{*/
/*    margin-left: 2vw;*/
/*    padding: calc(20px + ((50 - 20) * ((100vw - 320px) / (1280 - 320))));*/
/*    grid-template-columns: repeat(4,1fr);*/
/*    width: 768px;*/
/*  }*/
/*  .title{*/
/*    font-size: calc(40px + ((60 - 20) * ((100vw - 320px) / (1280 - 320))));*/
/*    margin-left: 40%;*/
/*  }*/
/*  .average-price_container{*/
/*    margin-left: 50%;*/
/*  }*/
/*}*/
