.preloader{
    position: relative;
    left: 20px;
    margin-top: -1300px;
    width: 355px;
    height: 800px;
    background: url("../img/cacao.jpeg") 40% 50%;
    background-size: 600px 800px;
    z-index: 2;
    visibility: visible;
    overflow-y: hidden;
}

.ellipse{
    position: absolute;
    width: 704px;
    height: 448px;
    left: -160px;
    top: -240px;

    background: url("../img/ellipse.svg");
}


.title-preloader{
    margin-left: -10px;
    margin-top:40px;
}

.preloader._done{
    opacity: 0;
    visibility: hidden;
}
.preloader._done .ellipse{
    visibility: hidden;
}

.preloader._done .title-preloader{
    visibility: hidden;
}
