/* Цены */
@font-face {
  font-family: "PP Neue Montreal";
  src: url('fonts/PPNeueMontreal-Medium.otf') format("truetype");
}

.item__label_price {
  position: absolute;
  width: 35px;
  height: 25px;
  left: 65px;
  top: 50px;

  background: #FFFAF6;
  border-radius: 10px;
}

.item__text_price {
  position: absolute;
  text-align: center;
  width: 21px;
  height: 10px;
  left: 7px;
  top: -15px;

  font-family: 'PP Neue Montreal', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  z-index: 1;

  color: #3D3D3D;
}
