/* Syrup block */

.syrup_select_form{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;

  position: absolute;
  width: 127px;
  height: 18px;
  left: 20px;
  top: 150px;

  background: #FFFFFF;
  color: #9F9B9B;
  padding: 0 28px;

  border-radius: 10px;
  border: #E17B41;
}

.syrup_select_form._active{
  display: none;
}


@font-face {
  src: url('fonts/PPNeueMontreal-Medium.otf') format("truetype");
}

.syrup__text {
  width: 130px;
  height: 33px;
  left: 18px;
  top: -7px;

  font-family: 'PP Neue Montreal', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;

  color: #FFFFFF;
}

select{
  text-align-last: center;
}
