/* Syrup block */
@font-face {
  font-family: "PP Neue Montreal";
  src: url('fonts/PPNeueMontreal-Medium.otf') format("truetype");
}

.syrup_select_form{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;

  position: absolute;
  width: 127px;
  height: 18px;
  left: 17px;
  top: 150px;

  background: #FFFFFF;
  color: #9F9B9B;
  padding: 0 28px;

  border-radius: 10px;
  border: #E17B41;
  font-size: 10px;
}

.syrup_select_form._active{
  display: none;
}

select{
  text-align-last: center;
}
