@font-face {
  font-family: "PP Neue Montreal";
  src: url('fonts/PPNeueMontreal-Medium.otf') format("truetype");
}

body {
  position: relative;
  width: 370px;
  height: 932px;
  background: #FFFAF6
}

.container {
  max-width: 400px;
}

.title {
  position: absolute;
  width: 142px;
  height: 24px;
  left: 135px;
  top: 50px;

  font-family: 'PP Neue Montreal', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;

  color: #3D3D3D;
}

.average-price_sum_text{
  position: absolute;
  width: 114px;
  height: 15px;
  left: 147px;
  top: 105px;

  font-family: 'PP Neue Montreal', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;

  color: #A2A2A2;

}

.average-price_text{
  position: absolute;
  width: 114px;
  height: 15px;
  left: 233px;
  top: 105px;

  font-family: 'PP Neue Montreal', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;

  color: #A2A2A2;
}

